<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Functional Website</title>

</head>

<body id="weather-body">

    <%- include("partials/header.ejs") %>

        <!-- FORM -->
        <div class="form-container">
            <form class="styled-form" action="/weather" method="post">
                <h2>Weather and Location</h2>
                <fieldset>
                    <legend>City</legend>
                    <div class="form-group">
                        <label for="cityName">City Name:</label>
                        <input type="text" id="cityName" name="cityName" placeholder="Enter the name of your city" autofocus required>
                    </div>
                </fieldset>
                <button type="submit">Submit</button>
            </form>
        </div>


        <!-- OUTPUT AREA -->
        <section class="weather-output">
            <% if(locals.city){ %>
            <h2>
                <%= city  %> 7 Day - Weather Forecast
            </h2>
            <% } %>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Max Temperature (°C)</th>
                        <th>Min Temperature (°C)</th>
                        <th>Sunrise</th>
                        <th>Sunset</th>
                        <th>UV Index Max</th>
                        <th>Rain Sum (mm)</th>
                        <th>Max Windspeed (km/h)</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(locals.daily){ %>
                        <% for (let i=0; i < daily.time.length; i++) { %>
                            <tr>
                                <td>
                                    <%= daily.time[i] %>
                                </td>
                                <td>
                                    <%= daily.temperature_2m_max[i] %>
                                </td>
                                <td>
                                    <%= daily.temperature_2m_min[i] %>
                                </td>
                                <td>
                                    <%= daily.sunrise[i] %>
                                </td>
                                <td>
                                    <%= daily.sunset[i] %>
                                </td>
                                <td>
                                    <%= daily.uv_index_max[i] %>
                                </td>
                                <td>
                                    <%= daily.rain_sum[i] %>
                                </td>
                                <td>
                                    <%= daily.windspeed_10m_max[i] %>
                                </td>
                            </tr>
                        <% } %>
                    <% } else{ %>
                            <tr>
                                <td colspan="8">Enter Location To Receive Data</td>
                            </tr>
                    <% } %>
                </tbody>
            </table>
        </section>

        <%- include("partials/footer.ejs") %>

</body>

</html>